body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
}

.hero,
footer {
    background-color: #1F2937;
    padding: 30px 0;
}

.hero-section h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-section p {
    font-size: 18px;
    color: #e5e7eb;
}

.main-content h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.quote {
    background-color: #e5e7eb;
}

.quotation {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.cta,
button {
    background-color: #3882f6;
}

/* The above is general styling; the below is formatting */ 

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1;
    gap: 16px;
    flex-wrap: wrap;
}

li {
    flex: 1 0 auto;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 75px;
    flex-wrap: wrap;
}

.left-hero {
    max-width: 50%;
}

.main-content h2 {
    text-align: center;
    margin-top: 50px; 
    margin-bottom: 75px;
}

.boxes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    height: auto;
    margin-bottom: 75px;
}

.box {
    max-width: 150px;
    text-align: center;
}

.box p {
    margin-top: 3px; 
}

img {
    border-radius: 5px;
    border: solid black 1px;
}

.quote {
    padding: 20px;
}

.author {
    text-align: right;
    font-weight: 900;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
}

.hero,
.main-content,
.quote, 
footer {
    padding-left: 300px;
    padding-right: 300px;
}

.cta {
    border-radius: 10px;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 150px;
    padding: 50px 150px;
}

.heading {
    font-size: 20px;
    font-weight: 900;
}

.cta-left p {
    margin: 5px auto;
}

button {
    color: #f9faf8;
    padding: 7px 20px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
}

.button-1 {
    border: none;
}

.button-2 {
    border: solid #f9faf8 1px;
}

