body {
/*Box model stuff*/
    margin: 0;
/*Typography stuff*/
    font-family: Roboto, sans-serif;
}

.logo {
/*Typography stuff*/
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
}

.hero,
footer {
/*Box model stuff*/
    padding: 30px 0;
    background-color: #1F2937;
}

.hero-section h1 {
/*Typography stuff*/
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-section p {
/*Typography stuff*/
    font-size: 18px;
    color: #e5e7eb;
}

.main-content h2 {
/*Box model stuff*/
    margin-bottom: 75px;
    margin-top: 50px; 
/*Typography stuff*/
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    color: #1F2937;
}

.quote {
/*Box model stuff*/
    padding: 20px;
    background-color: #e5e7eb;
}

.quotation {
/*Typography stuff*/
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.cta,
button {
/*Box model stuff*/
    background-color: #3882f6;
}

header {
/*Display stuff*/
    display: flex;
    align-items: center;
    justify-content: space-between;
/*Box model stuff*/
    margin-bottom: 100px;
}

ul {
/*Display stuff*/
    display: flex;
    flex: 1;
    flex-wrap: wrap;
/*Box model stuff*/
    margin: 0;
    padding: 0;
/*Miscellaneous*/
    list-style: none;
    gap: 16px;
}

li {
/*Display stuff*/
    flex: 1 0 auto;
}

a {
/*Typography stuff*/
    text-decoration: none;
    color: #e5e7eb;
}

.hero-section {
/*Display stuff*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
/*Box model stuff*/
    margin-bottom: 75px;
/*Miscellaneous*/
    gap: 50px;
}

.left-hero {
/*Box model stuff*/
    max-width: 50%;
}

.boxes {
/*Display stuff*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
/*Box model stuff*/
    height: auto;
    margin-bottom: 75px;
/*Miscellaneous*/
    gap: 30px;
}

.box {
/*Box model stuff*/
    max-width: 150px;
/*Typography stuff*/
    text-align: center;
}

.box p {
/*Box model stuff*/
    margin-top: 3px; 
}

img {
/*Box model stuff*/
    border: solid black 1px;
    border-radius: 5px;
}

.author {
/*Typography stuff*/
    font-weight: 900;
    text-align: right;
}

footer {
/*Display stuff*/
    display: flex;
    align-items: center;
    justify-content: center;
/*Typography stuff*/
    color: #e5e7eb;
}

.hero,
.main-content,
.quote, 
footer {
/*Box model stuff*/
    padding-left: 300px;
    padding-right: 300px;
}

.cta {
/*Display stuff*/
    display: flex;
    align-items: center;
    justify-content: space-between;
/*Box model stuff*/
    margin: 100px 150px;
    padding: 50px 150px;
    border-radius: 10px;
/*Typography stuff*/
    color: #f9faf8;
}

.heading {
/*Typography stuff*/
    font-size: 20px;
    font-weight: 900;
}

.cta-left p {
/*Box model stuff*/
    margin: 5px auto;
}

button {
/*Box model stuff*/
    padding: 7px 20px;
    border-radius: 5px;
/*Typography stuff*/
    font-size: 16px;
    font-weight: 600;
    color: #f9faf8;
}

.button-1 {
/*Box model stuff*/
    border: none;
}

.button-2 {
/*Box model stuff*/
    border: solid #f9faf8 1px;
}

